
* {
    box-sizing: border-box;
  }
  html,

body {
    background: #ecf0f3;
    font-family: var(--font-family);
  }

label{
  font-size: 16px;
}

h1 {
    margin: 0;
    padding: 0;
  }

.custom-form {
    min-width: 300px;
    max-width: 30%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.15);
    padding: 1rem 2rem;
    /*margin: auto;*/
    border-radius: 1.0rem;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
    margin-top: 1rem;
  }

.custom-form  {
    width: 100%;
    border-radius: 0.5rem;
    border: none;
  }

  :host ::ng-deep .p-button{
    font-size:20px; 
  }
